html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}


.swagger-ui .info .title {
    color: #3b4151;
    font-family: sans-serif;
    font-size: 1.6em;
    margin: 0;
}

.swagger-ui .info {
    margin: 1.2em;
}